{% extends 'base.html' %} {% block content %}

<div class="top-song-list-container">
  <div class="header-banner">
    <div class="text-ph-spotify__wrapper text-column-align">
      <p>PH</p>
      <p>SPOTIFY</p>
    </div>
    <p class="text" id="text-top-10">TOP 10</p>
  </div>

  <!-- Single song data container -->
  <div class="song-data__container top-1-song">
    <div class="song-data__wrapper">
      <div class="song-cover-art__container">
        <img src="./static/img/temp_song_art.png" />
      </div>
      <div class="song-info__wrapper">
        <div class="song-info-details__wrapper">
          <p class="song-title">
            Song title title title title title title title
          </p>
          <p class="song-artists">Artists</p>
        </div>
        <p class="prev-rank">Last week: 2</p>
      </div>
    </div>
  </div>
  <!-- End -->
  <!-- Top 5 -->
  <div class="song-data__container top-5-songs">
    <div class="song-data__wrapper">
      <div class="song-cover-art__container">
        <img src="./static/img/temp_song_art.png" />
      </div>
      <div class="song-info__wrapper">
        <div class="song-info-details__wrapper">
          <p class="song-title">Song title</p>
          <p class="song-artists">Artists</p>
        </div>
        <p class="prev-rank">Last week: 2</p>
      </div>
    </div>
    <div class="song-data__wrapper">
      <div class="song-cover-art__container">
        <img src="./static/img/temp_song_art.png" />
      </div>
      <div class="song-info__wrapper">
        <div class="song-info-details__wrapper">
          <p class="song-title">Song title</p>
          <p class="song-artists">Artists</p>
        </div>
        <p class="prev-rank">Last week: 2</p>
      </div>
    </div>
    <div class="song-data__wrapper">
      <div class="song-cover-art__container">
        <img src="./static/img/temp_song_art.png" />
      </div>
      <div class="song-info__wrapper">
        <div class="song-info-details__wrapper">
          <p class="song-title">Song title</p>
          <p class="song-artists">Artists</p>
        </div>
        <p class="prev-rank">Last week: 2</p>
      </div>
    </div>
    <div class="song-data__wrapper">
      <div class="song-cover-art__container">
        <img src="./static/img/temp_song_art.png" />
      </div>
      <div class="song-info__wrapper">
        <div class="song-info-details__wrapper">
          <p class="song-title">Song title</p>
          <p class="song-artists">Artists</p>
        </div>
        <p class="prev-rank">Last week: 2</p>
      </div>
    </div>
  </div>
  <div class="song-data__container top-10-songs">
    <div class="song-data__wrapper">
      <p class="song-title">Song title</p>
      <p class="song-artists">Artists</p>

      <p class="prev-rank">Last week: 2</p>
    </div>
    <div class="song-data__wrapper">
      <p class="song-title">Song title</p>
      <p class="song-artists">
        Artists ArtistsArtistsArtistsArtistsArtistsArtistsArtistsArtistsArtists
      </p>

      <p class="prev-rank">Last week: 2</p>
    </div>
  </div>

  {% endblock %}
</div>
