{% extends 'base.html' %} {% block content %}

<div class="top-song-list-container">
  <div class="header-banner">
    <div class="text-ph-spotify__wrapper text-column-align">
      <p>PH</p>
      <p>SPOTIFY</p>
    </div>
    <p class="text" id="text-top-10">WEEKLY TOP 10</p>
  </div>

  <div class="song-data__container top-1-song" id="top-1-song-container">
    <!-- Single song data container -->
    <!-- <div class="song-data__wrapper">
      <div class="song-cover-art__container">
        <img src="./static/img/temp_song_art.png" />
      </div>
      <div class="song-info__wrapper">
        <div class="song-info-details__wrapper">
          <p class="song-title">
            Song title title title title title title title
          </p>
          <p class="song-artists">Artists</p>
        </div>
        <p class="prev-rank">Last week: 2</p>
      </div>
    </div> -->
  </div>
  <!-- End Single song data container -->
  <!-- Top 5 -->
  <div class="song-data__container top-5-songs" id="top-5-songs-container">
    <!-- Template -->

    <!-- <div class="song-data__wrapper">
      <div class="song-cover-art__container">
        <img src="./static/img/temp_song_art.png" />
        <p class="prev-rank">Last week: 2</p>
      </div>
      <div class="song-info__wrapper">
        <div class="song-info-details__wrapper">
          <p class="song-title">Song title</p>
          <p class="song-artists">Artists</p>
        </div>
      </div>
    </div> -->
  </div>
  <div class="song-data__container top-10-songs" id="top-10-songs-container">
    <!-- <div class="song-data__wrapper">
      <p class="song-title">Song title</p>
      <p class="song-artists">Artists</p>
      <p class="prev-rank">Last week: 2</p>
    </div> -->
  </div>

  {% endblock %}
</div>
